*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.head{
  border-color: black;
  border-bottom-width: 1px;
  font-weight: 700;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot{
  --tw-bg-opacity: 1;
background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
position: fixed;
bottom: 0px;
text-align: center;
width:100%;

}

nav{

  font-size: 1.25rem;
  line-height: 1.75rem;
 

}
.menu{

  background-attachment: fixed;
  background-color:#242424;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  z-index: 50;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
animation: menuanimation 1s ease-in-out ;

transition:all 1.5s linear;
}
.menuMask{
  background-attachment: fixed;
  background-color: black;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 50;
}
a{
  text-decoration: none;
  
}
.card-heading{
  font-size:3.5 rem;
  font-family: roboto;
  letter-spacing: 3px;
  margin-left:-3px;
  color: #333;
  
}
.card-wrapper{
  float: left;
  display: flex;
  align-items:center;
  flex-direction: column;
  padding: 15px;
}
.card-image{
  width:100%;
  object-fit: cover;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.card-price{
  font-size:2.5rem;
  color: #333;

}
.card-button{
  background-color:#000000;
font-size:24px;
padding: 10px;
border-radius: 10px;
color: #fff;
border:none;
width: 100px;

}
.card-button:hover{
  background-color:#949499;
  
}
.card-single{
  
  display: flex;
  align-items:center;
  flex-direction: column;
  padding: 15px;
}

  
.link{
  font-size:1.5rem;
  color: #fff;
  z-index: 20;
 
}
.link span{
padding: 25px;
}

.link:hover{
  border-bottom: 1px solid #fff;
}

ul li{
  text-decoration: none;
}
.navbar{
  
  width:100%;
  background: #242424;
	color: #FFF;
	height: 100px;

  display: flex;
  justify-content: space-between;
  letter-spacing: 5px;
  text-transform: uppercase;
  align-items: center;
  min-height: 15vh;


}
.nav-icon{

 padding-right: 30px;
font-size:80px;
}
.menu ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}
.menu {
  position: fixed;
  top:20;
  right:20;
 text-align: center;
}

ul li{
  line-height: 70px;
  text-align: center;


}

@keyframes menuanimation{
  0%{
    transform:translateX(-500px);
  }
  100%{
    transform:translateX(0px);
  }
}

.menu h1{
  padding: 20px 0;
  border-bottom:1px solid #fff;
}

.navbar h1{
  font-size: 40px;
  font-weight: bold;
  padding-left: 18px;
}